@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e0e0e0;
}

canvas {
  border: 2px dotted grey;
}


/* Remove all scroll bars and margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* Ensure canvas takes up full screen initially */
canvas {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
}


